[*]
p#name = test editorconfig
p!foo.bar = 44
p?foo.str = 'titi'
max_line_length = 70
p!&isk+=µ
&p!isk+=µ
p!$FOOBAR = 42
g?foo.bar = 'g ifunset'
b!foo.foo = 'b force'
# Define dependencies that are likelly to break
g!var1 = 42
g!var2 = g:var1 * 2
g!var = g:var2 / 9.0
